ul.clear-default-style {
    list-style: none;
    padding: 0;
    margin: 0;
    & > li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

* {
    outline: none !important;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
    &:hover {
        background-color: #555;
    }
    &:active {
        background-color: #555;
    }
    &:focus {
        background-color: #555;
    }
}

.alert {
    position: absolute;
    top: 40px;
    min-width: 200px;
    left: 50%;
    text-align: center;
}

button.btn-no-style {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    &:active {
        background: none;
        border: none;
        box-shadow: none;
    }
    &:hover {
        background: none;
        border: none;
        box-shadow: none;
    }
}

.pointer {
    cursor: pointer;
}