<div class="mb-left">
    <div class="user-list-header">
        <!--<input type="checkbox" ng-model="data.userAllChecked">-->
        <!--用户列表-->
        <div class="user-list-title">
            <h4>用户列表</h4>
            <button class="btn btn-primary btn-sm"
                    ng-click="fn.forceRefreshUserList()"
                    data-title="如果找不到已关注的用户可以点此强制刷新"
                    data-placement="bottom"
                    bs-tooltip>更新
            </button>
        </div>
        <div class="input-group search-input">
            <input type="text" class="form-control" ng-model="data.search" ng-keyenter="fn.toSearch()">
            <span class=" input-group-btn">
                <button class="btn btn-default" type="button" ng-click="fn.toSearch()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
    <ul class="clear-default-style user-list">
        <load-more ng-if="isLoading"></load-more>
        <li ng-repeat="user in data.userList"
            ng-if="!isLoading"
            ng-click="data.selectUser = user"
            ng-class="{true:'active'}[data.selectUser==user]">
            <!--<input type="checkbox" ng-model="user.checked">-->
            <input type="radio" class="user-radio" ng-model="data.selectUser.openid" ng-value="user.openid">
            <img class="head-img" ng-src="{{user.headimgurl|headimgFt:46}}">
            <span class="user-name" title="{{user.nickname}}">
                {{user.nickname}}
            </span>
            <!--<button class="btn btn-default btn-sm show-info" show-user-info="">详情</button>-->
        </li>
    </ul>
    <div class="user-list-footer">
        <pagination data-page="data.pageData.page"
                    data-total-pages="data.pageData.totalPages"
                    data-page-change="fn.pageChange(page)">
        </pagination>
    </div>
</div>
<div class="mb-right">

    <div class="msg-form">
        <div class="msg-form-header">
            当前用户: &nbsp;&nbsp;{{data.selectUser.nickname}}
            <div class="pull-right">
                模板选择:
                <button class="btn btn-default" bs-dropdown>
                    {{data.thisMsgType.name||'请选择'}}
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="(k,v) in data.MSG_TYPE" ng-click="fn.msgTypeChange(v)"><a>{{v.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="user-info clearfix">
            <div ng-if="data.selectUser">
                <div class="user-info-img">
                    <img ng-src="{{data.selectUser.headimgurl|headimgFt:132}}">
                </div>
                <div class="user-info-detail">
                    <p class="user-info-name">{{data.selectUser.nickname}}</p>
                    <p>
                        <label>备注</label>
                        <span>{{data.selectUser.remark}}</span>
                    </p>
                    <p>
                        <label>地区</label>
                        <span>{{data.selectUser.province}} {{data.selectUser.city}}</span>
                    </p>
                    <p>
                        <label>关注时间</label>
                        <span>{{data.selectUser.subscribe_time*1000|date:'yyyy年MM月dd日'}}</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="msg-form-body">
            <tmplmsg ng-model="data.msgData" data-type="data.thisMsgType.key"></tmplmsg>
        </div>
    </div>
</div>
